* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}

.app {
  text-align: center;
}

// .app-logo {
//   height: 40vmin;
// }

.app-header {
  margin: 0 auto;
  text-align: center;
  background-color: #3b3f47;
  min-height: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-link {
  color: #09d3ac;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}

.spiner-center {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

table {
  border-collapse: collapse;
}

th,
td {
  // padding: 1px !important;
}

.button {
  background-color: #3b3f47;
  color: rgb(112, 247, 153);
  font-size: 2rem;
  padding: 1rem;
  flex-grow: 1;
  margin: 0;
  border: 0;

  &--add {
    flex-grow: 0;
    // width: 4rem;
    // display: block;
    // margin: 0 auto 1rem auto;
    box-shadow: 0 0 10px rgba(34, 33, 33, 0.5);
  }
}

.button:hover {
  color: green;
  background-color: greenyellow;
}

button:disabled {
  color: rgb(68, 92, 31);
}

button:hover:disabled {
  color: rgb(68, 92, 31);
  background-color: #3b3f47;
}
