.modal__ask {
  padding: 4rem;
  min-height: 15rem;
  font-size: 3rem;
  background-color: gray;
  text-align: center;
}

.modal__buttons {
  display: flex;
}

.modal__important {
  color: rgb(158, 27, 27);
}
